<html>
	<head>
		<title>SEO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
	
	<style>
	body{
   background-image:url("images/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>

		<!-- Header -->
			<header id="header" class="alt">
			
				<nav id="nav">
				
					<ul>
						<l1><a href="index.html">HOME</a></l1>
						<li><a href="assignment 2.html">THE DIFFERENCE BETWEEN SEO AND SEM</a></li>
						<li><a href="assignment 3.html">On-Page SEO an Off-Page SEO</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Software Engine Optimization</h2>
						
					</header>

					<a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
					
					<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>THE DIFFERENCE BETWEEN SEO AND SEM?</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>The difference amongst SEO and SEM is basically that Search Engine Optimization is a piece of Search motor showcasing or Search promoting as it is generally known. The two procedures point in expanding perceivability in web search tools.

								<h3>Briefly Discussed the Following SEO strategies listed:</h3>


								<h4>Domain name strategy</h4>
								<p>Utilizing area name administrations sets your business up for progress where everything starts, your sites name. - A space name methodology can increase the value of the presence of your site by exploiting the most obvious segment, the address. - You likewise need to build up and defend your areas so you have a protected nearness on the web.</p>


								<h4>Linking Strategy</h4>
								<p>Links is a staggeringly critical factor to enhance seek execution, and they appear to be making a resurgence this year. On the off chance that you have never executed a third party referencing system its imperative to know every one of the actualities, since external link establishment is intrinsically dangerous, and just the most noteworthy nature of strategies are prescribed. These assets will enable fledglings to comprehend more; it pays to peruse them before executing any battle.</p>

								<h4>Title tags Strategy</h4>
								<p>Title tags are practically precisely what they seem like the title of the page. As a title, this tag ought to be utilized to depict what a client can hope to discover on a specific page.When composing title labels because of SEO, your first objective ought to be to precisely portray the substance of the page being referred to whether its an item, accumulation or enlightening page. Its additionally key to discover approaches to actually mesh in pertinent watchwords into the tag at whatever point conceivable.</p>

								<h4>Meta description tags Startegy</h4>
								<p>A meta description is a kind of meta label utilized as a part of HTML to portray what the site page is about. It shows up as a fast scrap on the SERPs ideal underneath the connection. Meta portrayals are not a positioning component fundamentally, as they have an extremely insignificant effect on rankings, however they may have a few contacts with customized query items. Their fundamental capacity is telling searchers what your site page is about. Having convincing meta portrayals helps in the active clicking factor to your site. Think about your meta portrayals as an attempt to seal the deal for searchers, not as positioning elements for crawlers.</p>

								<h4>Alt tags Strategy</h4>
								<p>The Alt tag is a more seasoned HTML coding system initially imagined to make up for clients and programs not prepared to deal with pictures. And keeping in mind that all of todays web perusing incorporates many sorts of illustrations, the alt label remains a vital piece of making a webpage available to all clients. The alt tag is a clear line of HTML code that depicts a picture on a website page with the goal that the client recognizes what the picture speaks to if the photo doesnt show effectively.</p>

								<h4>Search Engine Indexing Strategy</h4>
								<p>The indexing mechanism is latent semantic indexing. In dormant semantic ordering web search tools, decide the connection between various elements or part of a blog content. By understanding this connection between various elements, web indexes comprehend the setting importance of the blog content effortlessly. Once the substance is seen legitimately via web crawlers, it is simple for them to return exact outcomes for long tail watchwords.</p>

								<h4>IS IT POSSIBLE TO COMBINE STRATEGIES IF YES WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h4>
								<p>Yes, I would combine Keyword methodology and Meta depiction labels procedure in light of the fact that is Keyword inquire about is the initial step to a fruitful SEO system. Those fruitful with SEO comprehend what individuals are looking for while finding their business in a web crawler and Meta labels still assume an indispensable part in SEO. On the off chance that you write any watchword into a web crawler, you will perceive how that catchphrase is reflected in the title for that page.</p>
							</div>
						</div>
					</div>
				</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>