<html>
	<head>
		<title>HOME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
	
<style>
	body{
   background-image:url("images/images.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
</style>

		<!-- Header -->
			<header id="header" class="alt">
			
				<nav id="nav">
				
					<ul>
						<li><a href="/">HOME</a></li>
						<li><a href="/assignment 2">THE DIFFERENCE BETWEEN SEO AND SEM</a></li>
						<li><a href="/assignment 3">On-Page SEO an Off-Page SEO</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Software Engine Optimization</h2>
						
					</header>

					<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
					
					<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>The difference between On-Page SEO an Off-Page SEO</h2>
			
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>On-Page SEO is the SEO on your real page or blog. A standout amongst the most well known ways that web search tools overall tend to rank sites is by searching for the noticeable quality and recurrence of specific watchwords and expressions on different aspects of your website, and appointing a suitable level of weight appropriately while Off-Page SEO is the utilization of catchphrases off your webpage. Web crawlers utilize notices of your webpage, business name, and watchwords utilized on different submits over the web in request to decide your positioning in their outcomes.

								<h3>Off-Page SEO TECHNIQUES</h3>


								<h4>Social Networking Sites</h4>
								<p>Informal communication is greater than at any other time nowadays! Now and again known as "Online Reputation Management", getting included with web-based social networking destinations is the essential stride with which you start to publicize, market and fabricate your online notoriety inside your specialty. 

You have to join to the most well known long range interpersonal communication locales, for example, Facebook, LinkedIn, Twitter, Google+, and so on., and make yourself your very own profile. This enables you to expand your online system of contacts, to associate and cooperate with your companions, to impart things to each other, and above all advance your site/blog and help construct your online notoriety.</p>


								<h4>Blogging</h4>
								<p>Blogging is one of the most ideal approaches to advance your site on the web! By composing a blog for your site, you give an explanation behind guests to continue coming back to your webpage and stay up with the latest with your most recent posts. It additionally encourages web indexes to slither your website all the more habitually, as they need to refresh your most recent blog entry sections, which eventually causes you rank higher in internet searcher comes about pages (SERPs).</p>

								<h4>Blog Marketing	</h4>
								<p>post comments on different blogs inside an indistinguishable specialty from yours, which enable you to include a connection in the remarks area. These connections would then be able to be crept via web crawlers, pointing them towards your website. These online journals are normally alluded to as "Do-Follow" Blogs.</p>

								<h4>Forum Marketing</h4>
								<p>Discover gatherings online that are identified with your locales specialty and get included inside that group. Answer to strings, answer people groups questions, offer guidance, and so forth. This all develops your notoriety for being somebody who is a specialist inside that specialty. Attempt to utilize "Do-Follow" Forums so you can incorporate a connection to your site inside your mark, which helps web search tools creep your website.</p>

								<h4>Search Engine Submission</h4>
								<p>Search engines will in the end discover your webpage on the web, yet that can take a while. To speed everything up, you ought to present your site to the most prominent web crawlers like Google, Yahoo, Bing, and so on.</p>

								<h4>Directory Submission</h4>
								<p>Many individuals may state that registry accommodation is dead! I trust that it isn't as you are expanding the feasible hood of individuals seeing your site. It is simply in view of how adequately we are choosing those registries and how effectively we are picking the class for accommodation. You could submit to general registries, yet for most extreme impact, you are in an ideal situation submitting to specialty indexes. Obviously, I concur that it gives very postponed outcomes, however it merits doing it.</p>

								
							</div>

								<h4><center><br><br>Post Permalink Structure<br></center></h4>


								<h3>ON Page SEO TECHNIQUES</h3>
								<p>Ensuring your URL is shown accurately is an essential on-page metric. Once more, you should utilize your objective watchword in the URL, and abstain from utilizing unique characters, images, sections, commas, and so on inside the genuine URL. 

Utilize dashes to separate the strings in your URL structure. These are called "beautiful" permalinks and are bolstered by most web programs.</p>


								<h4>Heading Tags</h4>
								<p>You should utilize going to highlight different headings, sub-headings, and imperative focuses. 

In WordPress, the title tag is set at H1. You don't generally need to utilize any more H1 labels anyplace in the article. One is sufficient. For segment breaks, stick to H2 and H3 labels.</p>

								<h4>Keyword Density	</h4>
								<p>You should keep the watchword thickness around 1.5% percent with a blend of LSI catchphrases. However, as Matt Cutts clarifies in the video underneath, there is no genuine enchantment equation. 

Utilize your primary catchphrase once in the main passage and again in the last section. Furthermore, utilize it in the substance where it bodes well.</p>

								<h4>Meta Tags</h4>
								<p>You should include a one of a kind and pertinent meta depiction with each blog entry. 

Once more, you should utilize your utilization focused on catchphrase in the meta portrayal, however don't watchword spam your depiction. While web indexes get on watchwords, it's likewise vital for clients to tap on the post. You have to compose easy to use meta portrayals that bode well and are identified with your post.</p>

								
								
							</div>
						</div>
					</div>
				</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
